In [2]:
import pandas as pd

# Replace with your Excel file path
excel_file = "/mnt/d/FY2024/myPython/myJupyterNB/default of credit card clients.xls"

# Load Excel file into Pandas DataFrame
df = pd.read_excel(excel_file)

# Replace with your desired CSV file path
csv_file = "/mnt/d/FY2024/myPython/myJupyterNB/default_credit_card_clients.csv"

# Export DataFrame to CSV without losing any information
df.to_csv(csv_file, index=False)

print(f"Excel file '{excel_file}' successfully converted and saved as CSV file '{csv_file}'.")

Excel file '/mnt/d/FY2024/myPython/myJupyterNB/default of credit card clients.xls' successfully converted and saved as CSV file '/mnt/d/FY2024/myPython/myJupyterNB/default_credit_card_clients.csv'.

In [3]:
import pandas as pd

# Replace with the path to your saved CSV file
csv_file = "/mnt/d/FY2024/myPython/myJupyterNB/default_credit_card_clients.csv"

# Read CSV file into Pandas DataFrame
df = pd.read_csv(csv_file)

# Display the first ten rows of the DataFrame
print("First ten rows of the DataFrame:")
print(df.head(10))

First ten rows of the DataFrame:
  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0
5          5      50000    1          2         1   57     -1      0     -1
6          6      50000    1          1         2   37      0      0      0
7          7     500000    1          1         2   29      0      0      0
8          8     100000    2          2         2   23      0     -1     -1
9          9     140000    2          3         1   28      0      0      2

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200
5      0  ...      20940      19146      19131      2000     36681     10000
6      0  ...      19394      19619      20024      2500      1815       657
7      0  ...     542653     483003     473944     55000     40000     38000
8      0  ...        221       -159        567       380       601         0
9      0  ...      12211      11793       3719      3329         0       432

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0
5      9000       689       679                           0
6      1000      1000       800                           0
7     20239     13750     13770                           0
8       581      1687      1542                           0
9      1000      1000      1000                           0

[10 rows x 25 columns]